/* common css */
*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

.uppernav{
    display: flex;
    background-color: black;
    color: white;
    font-weight: 200;
    justify-content: center;
    align-items: center;
}
.uppernav-img:hover{
    transition: scale(1.1);
}
.nav-text:hover{
     color: white !important;
    text-decoration: underline;
}
.ordered-list{
    position: relative;
    right: 500px;
}
.navbar{
    height: 80px;
}
.imgbook{
    max-width: 100%;
}
.imgbook{
    width: 338px;
    height: 338px;
    padding-right: 10px;
}
.image2{
    width: 393.69px;
    height: 527.11px;
}
